In [3]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [33]:
def draw_sample(n, q):
    """Assuming true proportion is q, generates n binary responses"""
    responses = np.random.random(n) < q
    return pd.DataFrame({'truth': responses.astype(int)})

In [34]:
sample = draw_sample(250, 0.7)
sample.head(5)

   truth
0      1
1      0
2      0
3      0
4      1

In [36]:
def randomized_response(sample, p=0.5):
    n = len(sample)
    rr = sample['truth'].copy()
    to_randomize = np.random.random(n) < p
    random_responses = np.random.random(n) < 0.5
    rr[to_randomize] = random_responses[to_randomize].astype(int)
    sample['randomized_response'] = rr
    return sample

In [37]:
sample_with_rr = randomized_response(sample, 0.5)
sample_with_rr.head()

   truth  randomized_response
0      1                    1
1      0                    1
2      0                    0
3      0                    0
4      1                    1

In [38]:
rr_mean = np.mean(sample_with_rr['randomized_response'])
rr_mean

0.608

In [39]:
# Magic formula: 2 * (A - 0.25) 
2 * (rr_mean - 0.25)

0.716

In [40]:
np.mean(sample_with_rr['truth'])

0.708